<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contract</title>
</head>
<body>
    <h1>This is contract page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo modi ipsam facilis maiores saepe ea, sint praesentium sit dolorem recusandae autem, odio aliquam ad ex aliquid expedita asperiores eius ullam?</p>
</body>
</html>